<div class="container">


  <div ng-include="'components/navbar/navbar.html'"></div>

  <header class="top" role="banner">
    <div class="text-danger" align="center">
      Mind Mirror III
    </div>
  </header>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <nvd3-multi-bar-horizontal-chart
        data="mm3Packet"
        id="bar_chart"
        showXAxis="true"
        showYAxis="true"
        stacked="true"
        nodata="There is no data to display yet"
        width="500"
        height="500"
        yaxistickformat="d3.format('3d')"
        showcontrols="true"
        title="Spectrograph Output"
        >
        <svg></svg>
      </nvd3-multi-bar-horizontal-chart>
    </div>
  </div>

  <div class="row">
    <div class="btn-group">
      <label class="btn btn-primary" ng-model="comConnectState" ng-click="connectToComPort(true)" btn-radio="'connect'"> Connect</label>
      <label class="btn btn-primary" ng-model="comConnectState" ng-click="connectToComPort(false)" btn-radio="'disconnect'"> Disconnect</label>

    </div>
  </div>

  <div class="row">
<textarea rows="15" cols="60">
{{log_messages}}
</textarea>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Mind Mirror 3 Realtime Interface v0.1 |
      <a href="https://github.com/CowboyJim/mm3_ui/issues?state=open">Issues</a></p>
  </div>
</footer>
